---
layout: page
description: A Secure, Privacy-Preserving, Software-Defined Data Center
---

<h2>Streamlined BTC Development On a Flexible<br />and Sturdy Foundation</h2>
<ul>
    <li>Choose your entire bitcoin software stack, have a fully integrated environment provisioned automatically.</li>
    <li>Choose Bitcoin Cache Machine as a platform to develop your line-of-business idea.</li>
    <li>Let Bitcoin Cache Machine handle the infrastructure and operations management for your application: password
        and certificate management, automated backups of user data, key rotation, vulnerability and change management,
        etc.</li>
    <li>Use the same code for testing, staging, and production workloads.</li>
    <li>Rapidly iterate on your Bitcoin business ideas. Deploy a new configuration in minutes.</li>
</ul>
</div>
</div>
</div>
{% if page.url == '/' %}
</div>
{% endif %}
<hr class="bcm-hr" />
<div class="container container-custom latest-from-blog">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>The Latest From The Blog</h2>
            {% for post in paginator.posts %}
            <div class="post-preview">
                <a href="{{ post.url }}">
                    <h3 class="post-title">{{ post.title }}</h3>
                    {% if post.subtitle %}
                    <h4 class="post-subtitle">
                        {{ post.subtitle }}
                    </h4>
                    {% endif %}
                </a>
                <p class="post-meta" style="margin-bottom:5px">Posted by {{ post.author }} on
                    {{ post.date | date: "%B %-d, %Y" }}</p>
                <!-- <div class="notepad-index-post-tags" style="">
                    {% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{
                        tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
                </div> -->
            </div>
            {% endfor %}

            <!-- Pager -->
            {% if paginator.total_pages > 1 %}
            <ul class="pager">
                {% if paginator.previous_page %}
                <li class="previous">
                    <a href="{{ paginator.previous_page_path  | replace: '//', '/' }}">&larr; Newer Posts</a>
                </li>
                {% endif %}
                {% if paginator.next_page %}
                <li class="next">
                    <a href="{{ paginator.next_page_path | replace: '//', '/' }}">Older Posts &rarr;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}


            <!-- <!DOCTYPE html>

<html>
<head>
 <title>New ZeroNet site!</title>
 <meta charset="utf-8">
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <base href="" target="_top" id="base">
 <script>base.href = document.location.href.replace("/media", "").replace("index.html", "").replace(/[&?]wrapper=False/, "").replace(/[&?]wrapper_nonce=[A-Za-z0-9]+/, "")</script>
</head>
<body>

<div id="out"></div>

<script type="text/javascript" src="js/ZeroFrame.js"></script>

<script>

class Page extends ZeroFrame {
	setSiteInfo(site_info) {
		var out = document.getElementById("out")
		out.innerHTML =
			"Page address: " + site_info.address +
			"<br>- Peers: " + site_info.peers +
			"<br>- Size: " + site_info.settings.size +
			"<br>- Modified: " + (new Date(site_info.content.modified*1000))
	}

	onOpenWebsocket() {
		this.cmd("siteInfo", [], function(site_info) {
			page.setSiteInfo(site_info)
		})
	}

	onRequest(cmd, message) {
		if (cmd == "setSiteInfo")
			this.setSiteInfo(message.params)
		else
			this.log("Unknown incoming message:", cmd)
	}
}
page = new Page()

</script>

</body>
</html> -->