---
layout: page
title: "Members"
description: "Collaborators working on this project."
#header-img: "img/header.jpg"
---
<hr>

{% for member in site.data.members %} {% if member.visible == true %}

<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin-right:10px; float:left; width:150px !important">

<h2 class="member-name">{{ member.name }}</h2>

<h3>{{ member.role }}</h3>

{% if member.github %}
<span class="social-share-googleplus"><a href="https://github.com/{{ member.github }}" title="Github" target="_blank"><img src="{{ "/img/github-icon.png" | prepend: site.baseurl }}" style="height:50px">Github</a></span>
{% endif %}

{% if member.url %}
<span class="social-share-googleplus"><a href="{{ member.url }}" title="Website" target="_blank"><img src="{{ "/img/android-chrome-72x72.png" | prepend: site.baseurl }}" style="height:40px">Website</a></span>
{% endif %}

{% if member.url %}
<span class="social-share-googleplus"><a href="https://twitter.com/{{ member.twitter }}" title="Twitter" target="_blank"><img src="{{ "/img/android-chrome-72x72.png" | prepend: site.baseurl }}" style="height:40px">Twitter</a></span>
{% endif %}

<hr>


{% endif %}{% endfor %}
